@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header-container-top {
  background-color: #222222;
  color: #f3f3f3;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
}

.header-lista a{
  margin: 5px;
}

.header-container-bottom {
  background-color: #f0a83e;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo-base {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  color: #ffffff;
}

.logo-first {
  color: #3c2313;
}

.nav-links {
  list-style: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  display: flex;
}

.nav-links li {
  padding: 0 20px;
  cursor: pointer;
}

.fa-bars{
  display: none;
}


/* MAIN */


.banner{

  height: 500px;
  background-image: url(../img/background.png);
  background-size: cover;
}

.bienvenida{

  display: flex;
  height: 500px;
  justify-content: flex-end;
  align-items: center;

}

.discount{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px 30px 0 0;
  
}

.discount h1{
  background-color: white;
  padding: 10px 40px;
  border-radius: 5px;
  margin: 5px;
  font-size: 2rem;
  font-weight: 300;
}

.discount h3{
  font-size: 1rem;
  margin-top: 10px;
  font-weight: 400;
}

.banner button{

  background-color: #F0A83E;
  color: white;
  width: 141px;
  height: 49px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 20px;

}

.image{
  margin-top: 30px;
}

.content-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-header-content{

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

}

.text-header-content h2{
  margin-bottom: 10px;
  color: #3C2313;
  font-weight: 800;
  font-size: 2rem;
}

.text-header-content p{
  font-weight: 300;
}

.text-header-content p a{
  margin: 10px;
}

.items p{
  color: #3C2313;
  font-weight: 600;
  margin-bottom: 10px;
}

.items p span{

  color: #F0A83E;
  font-weight: 600;
}

.products{
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}

.items{
  text-align: center;
  margin: 15px;
}

.footer-main-contact{

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* FOOTER */


.subscription{
  background-color: #F0A83E;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
}

.info-subs{
  display: flex;
}

.info-subs img{
  padding-right: 15px;
}

.info-subs p{
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
}

.more-information{
  background-color: #3c2313;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.address{
  display: flex;
  flex-direction: column;
}

.items-addres{
  display: flex;
  margin-top: 30px;
  align-content: space-around;
}

.phone-responsive{
  display: none;
}

.text-address{
  margin-left: 20px;
  margin-top: 10px;
}

.text-address p{
  font-weight: 600;
}

.text-address p span{

  font-size: 12px;
  font-weight: 600;
  color: #8A8787

}

.copyright{
  background-color: #222222;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
}



@media screen and (max-width: 480px){
  /* Smartphones */

  .nav-links{
    display: none;
  }
    .fa-bars{
      display: flex;
      font-size: 1.5rem;
      color: white;
  }

  .header-container-top{
    display: none;
  }

  .discount{
    margin: 5px 0;
  }

  .discount h1{
    padding: 1rem 1.5rem;
    font-weight: 400;
    font-size: 1.8rem;
  }
  .discount h3{
    color: white;
  }
  .bienvenida{
    justify-content: center;
  }

  .text-header-content h2{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1em;
  }

  .products{
    justify-content: center;
  }

  .more-information{
    flex-direction: column-reverse;
  }

  .phone-desktop{
    display: none;
  }

  .phone-responsive{
    display: flex;
  }

  .copyright{
    padding: 3px 0;
  }

  .info-subs p{
    font-size: 1.1rem;

  }
 
}